{% extends 'layout.html' %}
{% load extras %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "bright.css" %}">
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>

{% if request.user.is_staff %}
{% if page.published %}
<div class="p-2 mx-auto text-red-900 bg-yellow-200 border-2 border-red-600 w-max rounded-xl">
	Still in draft mode, keep writing!
</div>
{% endif %}
<p><a href="{{ page.get_editor_url }}">Edit this page</a></p>
{% endif %}

{{ page.content|mkd }}
{% endblock %}
