body {
	font-size: 18px;
}
table.table th {
	text-align: left;
}


table.table td.place-cell {
	width: 300px;
}
table.table td.answer-cell {
	width: 300px;
}
table.table td.gap {
	padding-left: 30px;
}

tr.header-row th, tr.header-row td {
	border-bottom: 4px solid #6b1111;
	color: #6b1111;
}
