
/* || ID'ed elements */

#back { /* Back button (actually a map sometimes) */
	text-decoration: none;
	position: absolute;
}
#back .emoji-link {
	font-size: 32px;
}
#status {
	position: absolute;
	right: 0;
	transform: translate(0, 8px);
}
span.navbar {
	transform: translate(0, 4px);
}
#status span.navitem {
	font-size: 21px;
	font-weight: bold;
}
span.navitem {
	position: relative;
	margin-left: 8px;
	padding-bottom: 2px;
}
span.navitem:hover, span.navitem:hover span {
	cursor: default;
}
span.navitem:hover span {
	text-shadow: 0 0 16px #eeee44;
}
span.navitem div.navbar-tooltip {
	display: none;
	position: absolute;
	right: 0;
	transform: translate(30px, 8px);
	padding: 2px 4px 2px 4px;
	border-radius: 5px;
	z-index: 1;
	font-size: 15px;
	background-color: #5ff39b;
	color: #072229;
	font-weight: normal;
}
span.navitem div.navbar-tooltip div.tooltip-header {
	color: #8f2222;
	font-size: 16px;
	font-weight: bold;
}
#courage div.navbar-tooltip {
	width: 120px;
}
#patience div.navbar-tooltip {
	width: 90px;
}

span.navitem:hover div.navbar-tooltip {
	display: block;
}

#container {
	max-width: 800px;
	min-width: 555px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}

/* Shared classes */
a.emoji-link, a.emoji-link:link, a.emoji-link:visited, a.emoji-link:hover, a.emoji-link:active {
	text-decoration: none;
}
.monospace {
	font-family: Inconsolata, Consolas, monaco, monospace;
	position: relative;
	white-space: pre;
}

span.name {
	font-weight: bold;
}

#back span.name {
	font-weight: normal;
	font-size: 17px;
	display: inline-block;
	transform: translate(-1px, -5px);
	word-wrap: normal;
}

/* || General elements */
a:link {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

code {
	font-family: Inconsolata, Consolas, monaco, monospace;
	font-weight: bold;
	font-size: 110%;
}
div.strong-emph em {
	color: #cc3333;
	font-weight: bold;
	font-style: normal;
	background-color: #eeee66;
	border: 1px solid #cc3333;
	padding: 0 4px;
}

#container a.img-link:hover > img {
	box-shadow: 0px 0px 35px #dddd33;
}

.caption {
	font-size: 13px;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-style: italic;
	margin-top: 8px;
	margin-bottom: 5px;
}

h1, h2 {
	text-align: center;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
}
h3, h4, h5, h6 {
	margin-top: 8px;
	margin-bottom: 8px;
}


code.language-text, code.language-c, code.language-python {
	color: #014f45;
	font-weight: normal;
	font-size: 20px;
}

table code {
	font-size: 110%;
	font-weight: normal;
}

table.table code {
	color: #015800;
	font-weight: normal;
}

table.table tt {
	font-family: Inconsolata, Consolas, monaco, monospace;
	white-space: pre;
	color: #50036f;
	font-size: 14px;
	vertical-align: middle;
}
a.place:link, a.place:visited {
	font-size: 16px;
	font-style: italic;
	color: #0000cc;
	vertical-align: middle;
}

#container div.item-thumbnail-container {
	width: 25%;
	display: inline-block;
}
#container img.item-thumbnail {
	width: 128px;
}
#container div.item-listing {
	display: inline-block;
	width: 75%;
}
#container div.item-container {
	display: flex;
}

body {
	background-color: #efefef;
}

#container {
	color: #010501;
}

a:link, a:visited
{
	color: #2188e0;
}
a:hover {
	color: #006b57;
	text-shadow: 0 0 1px #2188e0;
}

code.answer {
	color: #bc1111;
}

#status span {
	color: #878c49;
}
#status span.navitem {
	border-bottom: 1px dotted #666666;
}

.emoji-link:hover { /* back button */
	text-shadow: 0 0 13px #ee6666;
	text-decoration: none;
}
#door {
	font-size: 128px;
	text-align: center;
	display: block;
}
.reason {
	color: #2c1fcd;
}
span.name {
	color: #d93636;
}

h3.courage-plus-plus {
	font-family: sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: #006700;
	text-align: center;
}

hr.solution-divider {
	margin: 30px 0;
}

div.fourthwall {
	font-size: 17px;
	max-width: 680px;
	border: 3px dotted;
	padding: 4px 16px;
	margin: 16px auto;
	text-align: justify;
}

#solution {
	color: #1f0042;
	border-color: #990000;
}

#notes {
	color: #006633;
	border-color: #000077;
}

code {
	color: #550022;
}
strong {
	color: #000077;
}

/* || Body */
body {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
}
