{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block title %}MOSP: A Light Novel{% endblock %}

{% block backnav %}
{% endblock %}
{% block content %}
<h1>MOSP: A Light Novel</h1>

<p>Welcome back, <span class="name firstname">{{ token.firstname }}</span>.</p>

{% for hunt in hunt_list %}
<hr />
<div class="item-container">
{% if hunt.thumbnail_path %}
<div class="item-thumbnail-container">
	<a class="img-link" href="{{ hunt.get_absolute_url }}">
	<img src="{% static hunt.thumbnail_path %}" class="item-thumbnail">
	</a>
</div>
{% endif %}
<div class="item-listing">
<h3>Volume {{ hunt.volume_number }}: {{ hunt.name }}</h3>
{{ hunt.description|mkd }}
</div>
</div>
{% endfor %}

{% endblock %}
