{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block title %}MOSP: A Light Novel{% endblock %}

{% block backnav %}
{% endblock %}
{% block content %}
<h1>MOSP: A Light Novel</h1>

{% if token %}
<p>Welcome back,
<span class="text-yellow-700">{{ token.name }}</span>.</p>
{% endif %}

<div class="text-center">
{% for hunt in hunt_list %}
<div class="inline-block w-48 my-2 text-center rounded-lg group">
<h2 class="mb-0">Volume {{ hunt.volume_number }}</h2>
<a href="{{ hunt.get_absolute_url }}" class="text-white" >
<div class="absolute z-0 w-48 h-48 rounded-lg group-hover:brightness-50 group-hover:grayscale"
	style="background-image: url({% static hunt.thumbnail_path %}); background-size: cover;">
</div>
<div class="absolute z-10 hidden w-48 h-48 p-1 group-hover:block">
<h2 class="mt-1 mb-1">{{ hunt.name }}</h2>
<span class="text-s">{{ hunt.description|mkd }}</span>
</div>
</a>
</div>
{% endfor %}
</div>

{% endblock %}
