{% extends 'layout.html' %}
{% load extras %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "dark.css" %}">
{% endblock %}

{% block header %}
{{ puzzle.puzzle_head|safe }}
<script type="text/javascript">
const puzzle_slug = "{{ puzzle.slug }}";
const hashes = [
	{% for hash in puzzle.target_hashes %}
	"{{ hash }}",
	{% endfor %}
];
</script>
{% endblock %}

{% block title %}{{ puzzle.name }}{% endblock %}

{% block backnav %}
<a class="emoji-link" href="{{ puzzle.unlockable.parent.get_absolute_url }}">🗺️</a>
{% endblock %}

{% block editlink %}
<a class="emoji-link" href="{{ puzzle.get_editor_url }}">✏️</a>
{% endblock %}

{% block leftnav-more %}
{% if token|has_solved:puzzle.unlockable %}
<a class="emoji-link" href="{{ puzzle.get_solution_url }}">🔑</a>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ puzzle.name }}</h1>

<div class="text-sm italic">
	{{ puzzle.flavor_text|mkd }}
</div>
<div id="puzzlehead">
	<div id="answerchecker">
	<div class="icons">
		<span class="icon-placeholder">❌</span>
		<span class="icon" id="thinking">🤔</span>
		<span class="icon" id="wrong">❌</span>
		<span class="icon" id="correct">✅</span>
		<span class="icon-placeholder">❌</span>
	</div>
	<p><input id="answer" type="text" /></p>
	<div class="percentholder">
		<span id="percent">0%</span>
	</div>
	<div class="prizeholder">
		<a id="prize" href="">🔑</a>
	</div>
	</div>
</div>
<div id="puzzlecontent">
	{{ puzzle.content|mkd }}
</div>
{% endblock %}

{% block southeast %}
{% if token|can_cheat:puzzle.unlockable.hunt %}
<a id="cheat-show-answer" class="text-red-500 opacity-50"
	  href="{% url "solution-detail-cheating" puzzle.slug %}">Reveal answer</a>
{% endif %}
{% endblock %}
