{% extends 'base.html' %}
{% load extras %}
{% block title %}{{ hunt.name }}{% endblock %}

{% block content %}
<h1>{{ hunt.volume_number }}. {{ hunt.name }}</h1>

<table class="table">
{% for unlockable in round_unlockable_list %}
	{% with round=unlockable.round %}
	<tr>
	<td>Chapter
	<a href="{{ round.unlockable.get_absolute_url }}">{{ round.chapter_number }}</a>
	</td>
	{% if token|has_unlocked:round.unlockable %}
	<td><a href="{{round.get_absolute_url}}">{{round.name}}</a></td>
	{% elif token|can_unlock:round.unlockable %}
	<td><em>Unlocked!</em></td>
	{% else %}
	<td><em>Locked</em></td>
	{% endif %}
	</tr>
	{% endwith %}
{% endfor %}
</table>

{% endblock %}
