{% extends 'base.html' %}
{% load extras %}
{% load static %}
{% block title %}{{ hunt.name }}{% endblock %}

{% block content %}
<h1>{{ hunt.volume_number }}. {{ hunt.name }}</h1>

{% for unlockable in round_unlockable_list %}
<hr />
{% with round=unlockable.round %}
<div class="item-container">
{% if token|has_unlocked:round.unlockable %}
	{% if round.thumbnail_path %}
	<div class="item-thumbnail-container">
		<a class="img-link" href="{{ round.get_absolute_url }}">
		<img src="{% static round.thumbnail_path %}" class="item-thumbnail">
		</a>
	</div>
	{% else %}
	<div class="item-thumbnail-container">
		<a class="img-link" href="{{ round.get_absolute_url }}">
		<img src="TODO" class="item-thumbnail">
		</a>
	</div>
	{% endif %}
	<div class="item-listing">
	<h4>Chapter {{ round.chapter_number }}:
		<a href="{{ round.unlockable.get_absolute_url }}">{{ round.name }}</a>
	</h4>
	{{ round.summary_text }}
	</div>
{% else %}
	<p><b>Chapter {{ round.chapter_number }} (unlocked!)</b></p>
	{% if token|can_unlock:round.unlockable %}
	<p><a href="{{ round.unlockable.get_absolute_url }}">Open chapter</a>
	{% else %}
	This chapter is locked for now.
	<p><a href="{{ round.unlockable.get_absolute_url }}">
		See unlock requirements.</a></p>
	{% endif %}
{% endif %}
{% endwith %}
</div>
{% endfor %}

{% endblock %}
