{% extends 'base.html' %}
{% block title %}{% if token.enabled %}{{ token.name }}{% else %}Not Found{% endif %}{% endblock %}

{% block content %}
{% if token.enabled %}
<h1>{{ token.firstname }}</h1>
<p>If you load this page,
it will automatically restore all your progress,
without needing to enter a magic word.
Thus, you could bookmark this page for safekeeping.</p>

<h2>Profile</h2>
<ul>
	<li>Full name: <code>{{ token.name }}</code></li>
	<li><a class="emoji-link" href="{% url "token-update" token.uuid %}">✏️ Edit name</a></li>
</ul>
<h2>Danger zone</h2>
<ul>
	<li><a id="cleartoken" href="{% url "account_logout" %}">Log out of profile</a>
	<p>This will return you to the homepage where
	you can select a new name and start afresh,
	as if you opened a new computer.
	Your progress is still attached to your user account.</p>
	</li>
	<li><a href="{% url "token-disable" token.uuid %}">Destroy profile</a>
	<p>What it sounds like. Irreversible once clicked.</p>
	</li>
</ul>

{% else %}
<p>This token is deleted.</p>
{% endif %}
{% endblock %}
