{% extends 'base.html' %}
{% block title %}{% if token.enabled %}{{ token.name }}{% else %}Not Found{% endif %}{% endblock %}

{% block content %}
{% if token.enabled %}
<h1>{{ token.firstname }}</h1>
<p>If you load this URL,
it will automatically restore all your progress,
without needing to login.
Thus, you could bookmark this page for safekeeping.</p>

{% if token.user %}
<p>You are currently logged in with username <tt>{{ user.username }}</tt>.</p>
{% else %}
<p>There is no Discord attached to this token.</p>
<p>You can <a href="/accounts/discord/login?process=login">link your Discord account</a>.</p>
{% endif %}

<h2>Actions</h2>
<div class="container">
<div class="inline-block w-1/4 text-left align-top mx-3">
	<p><a class="btn btn-gray" href="{% url "token-update" token.uuid %}">Change name</a></p>
	<p>Tired of being called the same name all your life?</p>
</div>
<div class="inline-block w-1/4 text-left align-top mx-3">
	<p><a class="btn btn-yellow" id="deltoken" href="{% url "account_logout" %}">Log out of profile</a></p>
	<p>As if you opened a new computer.
	Your progress is still attached to your Discord account.</p>
</div>
<div class="inline-block w-1/4 text-left align-top mx-3">
	<p><a class="btn btn-red" href="{% url "token-disable" token.uuid %}">Destroy profile</a></p>
	<p>What it sounds like. Irreversible once clicked.</p>
</div>
</div>

{% else %}
<p>This token is deleted.</p>
{% endif %}
{% endblock %}
