{% extends 'layout.html' %}
{% load extras %}
{% load static %}
{% block backnav %}
    {% if unlockable.parent %}
        <a class="emoji-link" href="{{ unlockable.parent.get_absolute_url }}">🗺️</a>
    {% else %}
        <a class="emoji-link" href="{{ unlockable.hunt.get_absolute_url }}">🌍</a>
    {% endif %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "bright.css" %}">
{% endblock %}
{% block title %}{{ unlockable.name }}{% endblock %}
{% block editlink %}<a class="emoji-link" href="{{ unlockable.get_editor_url }}">✏️</a>{% endblock %}
{% block content %}
    {% with u=unlockable %}
        <h1>{{ u.name }}</h1>
        {% if new and u.is_puzzle %}
            <h3 class="p-2 font-sans text-xl text-center text-blue-700 bg-indigo-100 ring-2 ring-blue-500 rounded-3xl">
                New puzzle unlocked!
            </h3>
        {% endif %}
        {% if not locked %}{{ u.intro_story_text|mkd }}{% endif %}
        <hr />
        {% if locked %}
            <h1>
                {% if u.parent %}
                    <a id="door"
                       class="text-6xl emoji-link"
                       href="{{ u.parent.get_absolute_url }}">🔒</a>
                {% else %}
                    <a id="door"
                       class="text-6xl emoji-link"
                       href="{{ u.hunt.get_absolute_url }}">🔒</a>
                {% endif %}
            </h1>
            <p class="p-2 mx-auto text-sm border-2 border-red-600 max-w-3/4 w-max rounded-2xl bg-red-50">
                This item will unlock
                {% if u.unlock_date %}on {{ u.unlock_date|date }}{% endif %}
                if
                {% if u.unlock_needs %}
                    <span class="font-bold text-red-900">{{ u.unlock_needs.puzzle.name }}</span>
                    is completed
                    {% spaceless %}
                        {% if u.unlock_courage_threshold > 0 %}
                            and you have at least {{ u.unlock_courage_threshold }}💜
                        {% else %}
                            .
                        {% endif %}
                    {% endspaceless %}
                {% else %}
                    you have at least {{ u.unlock_courage_threshold }}💜.
                {% endif %}
            </p>
        {% else %}
            <h1>
                <a id="door"
                   class="text-9xl emoji-link"
                   href="{% spaceless %} {% if u.story_only %} {{ token|get_finished_url:u }} {% elif u.puzzle %} {{ u.puzzle.get_absolute_url }} {% elif u.round %} {{ u.round.get_absolute_url }} {% else %} /TODO {% endif %} {% endspaceless %}">🚪</a>
            </h1>
        {% endif %}
    {% endwith %}
{% endblock %}
