{% extends 'base.html' %}
{% load extras %}
{% load static %}

{% block backnav %}
{% if unlockable.parent %}
<a class="emoji-link" href="{{ unlockable.parent.get_absolute_url }}">🗺️</a>
{% else %}
<a class="emoji-link" href="{{ unlockable.hunt.get_absolute_url }}">🌍</a>
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "bright.css" %}">
{% endblock %}

{% block title %}{{ unlockable.name }}{% endblock %}

{% block content %}
{% with u=unlockable %}
<h1>{{ u.name }}</h1>

{% if not locked %}
{{ u.intro_story_text|mkd }}
{% endif %}
<hr />
{% if locked %}
	<h1>
	{% if u.parent %}
	<a id="door" class="text-6xl emoji-link"
		href="{{u.parent.get_absolute_url}}">🔒</a>
	{% else %}
	<a id="door" class="text-6xl emoji-link"
		 href="{{ u.hunt.get_absolute_url }}">🔒</a>
	{% endif %}
	</h1>
	<p>
	This will unlock
	{% if u.unlock_date %}on {{ u.unlock_date|date }}{% endif %}
	if
	{% if u.unlock_needs %}
		{{ u.unlock_needs.puzzle.name }} is completed
		{% if u.unlock_courage_threshold > 0 %}
		and you have at least {{ u.unlock_courage_threshold }}💜
		{% endif %}
	{% else %}
		you have at least {{ u.unlock_courage_threshold }}💜.
	{% endif %}
{% else %}
	<h1>
	<a id="door" class="text-6xl emoji-link"
		 href="{% spaceless %}
			{% if u.story_only %}
				{{ u.get_finished_url }}
			{% elif u.puzzle %}
				{{ u.puzzle.get_absolute_url }}
			{% elif u.round %}
				{{ u.round.get_absolute_url }}
			{% else %}
				/TODO
			{% endif %}
			{% endspaceless %}">🚪</a>
	</h1>
{% endif %}

{% endwith %}
{% endblock %}
