{% extends 'base.html' %}
{% load extras %}
{% block title %}{{ round.name }}{% endblock %}

{% block leftnav %}
<span id="back" class="navbar">
	{% if round.unlockable.parent %}
	<a class="emoji-link" href="{{ round.unlockable.parent.round.get_absolute_url }}">🗺️</a>
	{% else %}
	<a class="emoji-link" href="{{ round.unlockable.hunt.get_absolute_url}}">🌍</a>
	{% endif %}
	<span class="name">{{ token.firstname }}</span>
	</span>
</span>
{% endblock %}

{% block content %}
<h1>{{ round.name }}</h1>
<table class="table">
{% for u in unlockable_list %}
<tr>
	<td>{{ u.icon }}<a href="{{u.get_absolute_url}}">{{ u.name }}</a></td>
	{% if token|has_unlocked:u %}
		{% if u.is_puzzle %}
		<td>
		<a href="{{u.puzzle.get_absolute_url}}">
			{{u.puzzle.name}}</a>
		</td>
		{% elif u.is_round %}
		<th>
		<a href="{{round.get_absolute_url}}">
			{{round.name}}</a>
		</th>
		{% else %}
		<td>????</td>
		{% endif %}
	{% else %}
		<td><em>Locked</em></td>
	{% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}
