{% extends 'base.html' %}
{% load extras %}
{% block title %}{% spaceless %}
{% if round.show_chapter_number %}
Chapter {{ round.chapter_number }}:
{% endif %}
{{ round.name }}
{% endspaceless %}{% endblock %}

{% block backnav %}
{% if round.unlockable.parent %}
<a class="emoji-link" href="{{ round.unlockable.parent.get_absolute_url }}">🗺️</a>
{% else %}
<a class="emoji-link" href="{{ round.unlockable.hunt.get_absolute_url}}">🌍</a>
{% endif %}
{% endblock %}

{% block content %}

{% if round.show_chapter_number %}
<h1>Chapter {{ round.chapter_number }}</h1>
<h2><a href="{{ round.unlockable.get_absolute_url }}">{{ round.name }}</a></h2>
{% else %}
<h1><a href="{{ round.unlockable.get_absolute_url }}">{{ round.name }}</a></h1>
{% endif %}

<div class="container">
{{ round.round_text|mkd }}
</div>

<hr />

<table class="w-full mx-auto table-fixed">
<thead>
	<tr>
		<th class="w-3/12 text-left">Location</th>
		<th class="w-5/12 text-left">Title</th>
		<th class="w-4/12 text-left">Answer</th>
	</tr>
</thead>
<tbody>
{% for u in unlockable_list %}
<tr class="{% spaceless %}
{% if token|has_unlocked:u %}
	{% if u.puzzle %}
		{% if token|has_solved:u %}
		bg-green-100
		{% else %}
		bg-yellow-100
		{% endif %}
	{% else %}
		bg-gray-100
	{% endif %}
{% elif token|can_unlock:u %}
	bg-blue-100
{% else %}
	bg-grey-100
{% endif %}
{% endspaceless %}">
	{% if u.story_only %}
	<td class="w-3/12"></td>
	{% else %}
	<td class="w-3/12 text-sm"><a class="place" href="{{u.get_absolute_url}}">{{ u.icon }}{{ u.name }}</a></td>
	{% endif %}
	{% if token|has_unlocked:u %}
		{% if u.is_puzzle %}
			<td class="w-5/12">
			<a href="{{u.puzzle.get_absolute_url}}">{{u.puzzle.name}}</a>
			</td>
			{% if token|has_solved:u %}
				<td class="w-4/12"><a href="{{u.puzzle.get_solution_url}}">
					<code>{{ u.puzzle.display_answer }}</code>
				</a></td>
			{% else %}
				<td class="w-4/12"><em>Not solved</em></td>
			{% endif %}
		{% elif u.is_round %}
		<th colspan="2" class="w-9/12 text-left">
			<a href="{{u.round.get_absolute_url}}">{{u.round.name}}</a></th>
		{% elif u.story_only %}
		<td colspan="2" class="w-9/12 italic">
			<a class="place" href="{{u.get_absolute_url}}">{{ u.icon }}{{ u.name }}</a></td>
		{% else %}
		<td colspan="2" class="w-9/12 italic">Not yet ready.</td>
		{% endif %}
	{% elif token|can_unlock:u %}
		<td class="w-5/12 italic">Unlocked!</td>
		<td class="w-4/12"></td>
	{% else %}
		<td class="w-5/12 italic">Locked</td>
		<td class="w-4/12"></td>
	{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
